.books {
    h1 {
        margin-top: 20px;
    }

    .bookList {
        margin-top: 20px;
    }

    .latestBooks {
        display: flex;
    }

    .book {
        text-align: center;
        .coverImg {
            overflow: hidden;
            height: 220px;
            width: 140px;
            object-fit: contain;
            object-position: center bottom;
            border: 1px solid #ccc;
            .bookTitle{
                text-align: center;
            }
        }
    }
    .cover{
        position: relative;
        margin-left: 1em;
        margin-bottom: 5px;
        &:hover{
            cursor: pointer;
            opacity: 0.6;
        }
    }
    .actionButtons{
        margin-top: 10px;
    }
    .actionButton{
        display: block;
        margin-top: 15px;
    }
}

.infoField{
    margin-top: 10px;;
}