.dashboard {
    h1 {
        margin-top: 20px;
    }

    .dashboardCard {
        margin-top: 20px;
    }

    .latestBooks {
        display: flex;
    }

    .book {
        text-align: center;
        .cover{
            position: relative;
            margin-left: 1em;
            margin-bottom: 5px;
        }
        .coverImg {
            overflow: hidden;
            height: 220px;
            width: 140px;
            object-fit: contain;
            object-position: center bottom;
            border: 0;
        }
    }
}